@charset "utf-8";

html {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;

  font-size: 1.125rem;
  background-color: #f8f3e8;
  scroll-behavior: smooth; /* 부드러운 스크롤 */
}
::-webkit-scrollbar {
  width: 0.7vw;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #e39d3d;
  border-radius: 0.521vw;
}

/********** header ***********/
header {
  width: 100%;
  height: 31.25vw;
}
.logo {
  width: 3.125vw;
  height: 3.125vw;
  position: fixed;
  top: 2.083vw;
  left: 2.083vw;
  z-index: 10000;
}
#title {
  width: calc(100% - 7.292vw);
  font-size: 5.208vw;

  position: absolute;
  top: 13.021vw;
  left: 7.292vw;
}

/*----------- nav -----------*/
/* menu effect */
.menuOverlay {
  width: 800px;
  height: 800px;

  position: fixed;
  top: -200px;
  right: -175px;
  background: #265d49;
  padding: 22px 28px;
  z-index: 1000;
  transition: 0.3s;
  clip-path: circle(4% at 550px 270px);
}
.menuOverlay:hover {
  clip-path: circle(5% at 550px 270px);
}
.menuOverlay.open {
  clip-path: circle(45% at 450px 320px);
  background: #e39d3d;
}

/* gnb effect */
#gnb {
  z-index: 100;
  display: none;

  position: absolute;
  top: 250px;
  left: 250px;
  font-size: 1.979vw;
}
#gnb li {
  padding: 15px;
  width: 10.938vw;
}
#gnb li::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

#gnb li::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #e39d3d;
  z-index: -1;
  transition: transform 0.3s ease;
}
#gnb li a {
  color: #000;
  display: block;
}
/* #gnb li:hover a {
  color: #e39d3d;
  font-weight: bold;
} */
#gnb li a::after {
  content: "";
  height: 20px;
  width: 0;
  background-color: rgba(38, 93, 73, 0.5);
  position: absolute;
  /* bottom: 10px; */
  left: 10px;
  right: 0;
  transition: 0.4s;
}

#gnb li:hover a::after {
  width: 90%;
}

/*----------- toggle btn -----------*/
#menu_btn {
  z-index: 2;
  border-radius: 50%;
  position: fixed;
  top: 70px;
  right: 18px;
  width: 60px;
  height: 60px;
  padding: 5px;

  transform: translate(-50%, -50%);
  cursor: pointer;
  overflow: hidden;
}
#menu_btn span {
  background-color: #e39d3d;
  display: block;
  transition: 0.4s;
  width: 25px;
  height: 1.5px;

  position: absolute;
  left: 20px;
  top: 20px;

  transition: all 0.3s;
}
#menu_btn span:nth-child(2) {
  top: 28px;
}
#menu_btn span:nth-child(3) {
  top: 36px;
}

#menu_btn.on .bar1 {
  top: 50%;
  transform: rotate(45deg) translate(0, 0);
  background-color: #265d49;
}
#menu_btn.on .bar2 {
  opacity: 0;
}
#menu_btn.on .bar3 {
  transform: rotate(-45deg) translate(4.5px, -4.5px);
  background-color: #265d49;
}

/********** main contents ***********/
h2 {
  font-size: 4.219vw;
  font-weight: bold;
}

/*****------- topUp btn -------*****/
.topUP {
  z-index: 2;
  width: 4.167vw;
  height: 4.167vw;
  position: fixed;
  bottom: 6.51vw;
  right: 2.344vw;
}

/*****------- about -------*****/
#about {
  width: 100%;
  height: 60.417vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/*----------- move action -----------*/
/* arrow */
.scroll_move {
  background-color: #265d49;
  width: 16.146vw;
  height: 16.146vw;
  border-radius: 155px;
  position: absolute;
  top: 4.167vw;
  left: 4.167vw;
}
.arrow {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50% 50%;
  transform: translate3d(-50%, -50%, 0);
}
.arrow-1 {
  animation: arrow-movement 3s ease-in-out infinite;
}
.arrow-2 {
  animation: arrow-movement 3s 2s ease-in-out infinite;
}
.arrow-3 {
  animation: arrow-movement 3s 4s ease-in-out infinite;
}
.arrow:before,
.arrow:after {
  background: #e39d3d;
  content: "";
  display: block;
  height: 0.3vw;
  position: absolute;
  top: 1vw;
  left: -2vw;
  width: 4vw;
}
.arrow:before {
  transform: rotate(40deg) translateX(-29%);
  transform-origin: top left;
}
.arrow:after {
  transform: rotate(-40deg) translateX(29%);
  transform-origin: top right;
}
@keyframes arrow-movement {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* rotate */
.rotate1 {
  position: absolute;
  right: 9.479vw;
  top: 0;

  animation: rotate1 15s linear infinite;
}
.rotate1 img {
  width: 15.625vw;
}
.rotate2 img {
  width: 10.938vw;
}
.rotate2 {
  position: absolute;
  bottom: 0;
  left: 11.979vw;

  animation: rotate2 15s linear infinite;
}
@keyframes rotate1 {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate2 {
  to {
    transform: rotate(-360deg);
  }
}

/*----------- about contents -----------*/
.about_line1 {
  margin-top: 12.24vw;
  display: flex;
  justify-content: center;
  width: 85%;
  height: 44.792vw;
  border: 3px solid #265d49;
}
.about_line2 {
  margin-top: 0.417vw;
  width: 99%;
  height: 43.646vw;
  border: 3px solid #265d49;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----------left txt -----------*/
.about_txt {
  width: 48.177vw;
  padding-left: 8.594vw;
}
.about_txt h2 {
  padding-bottom: 3.542vw;
}
.about_txt p {
  font-size: 1.979vw;
  font-weight: bold;
}
.about_txt .mention {
  padding-top: 2.344vw;
  padding-bottom: 3.229vw;
}

/*----------- keywords -----------*/
.about_kw {
  width: 23.438vw;
  height: 6.146vw;
  display: flex;
  flex-wrap: wrap;
}
.about_kw li {
  height: 2.344vw;
  line-height: 2.2vw;
  text-align: center;
  border: 2px solid #000;
  border-radius: 25px;
  margin-right: 1.042vw;
}
.about_kw li:hover {
  background-color: #000;
  color: #fff;
}
.about_kw .kw3 {
  flex-wrap: wrap;
}
.about_kw > .kw1,
.kw3 {
  width: 5.625vw;
}
.about_kw .kw2,
.kw4 {
  width: 8.75vw;
}
.about_kw .kw5 {
  width: 9.375vw;
}

/*----------- img -----------*/
.about_img {
  width: 32.292vw;
  height: 35.417vw;
  margin-right: 3.542vw;
}

/*****------- who an I -------*****/
#who {
  height: 28.385vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#who h2 {
  position: absolute;
  left: 15%;
  top: 6.51vw;
}

/*----------- who txt -----------*/
#who p {
  font-size: 1.042vw;
  width: 40%;
  line-height: 1.8;
}
#who .p1 {
  padding-bottom: 40px;
  position: absolute;
  right: 15%;
  top: 7.031vw;
}
#who .p2 {
  position: absolute;
  right: 15%;
  top: 13.021vw;
}

/*****------- project -------*****/
#project {
  height: 57.031vw;
  width: 100%;
  margin: 50px auto;
  text-align: center;
}
.pjMenu {
  width: 100%;
  height: 11.979vw;
  background-color: #265d49;
}
#pjBtns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-size: 2.25rem;
  font-weight: bold;
  color: #e39d3d;
  margin: 0 auto;
  padding-top: 6vw;
  cursor: pointer;
}
#pjBtns li.on {
  width: calc(70% / 5);
  margin-left: 135px;
  height: 5px;
  background-color: #e39d3d;
  transition: 0.5s;
}
/*----------- img -----------*/
#pjGallery {
  overflow: hidden;
}
#pjImg_wrap {
  height: 45.313vw;
  text-align: center;
  line-height: 45.313vw;
  vertical-align: top;

  display: flex;
  justify-content: left;
  width: 500%;

  font-weight: bold;
}
#pjImg_wrap li {
  width: 100%;
  background: no-repeat 50% / cover;
}
#pjImg_wrap .pjImg1 {
  background-image: url(../images/project-bg1.png);
}
#pjImg_wrap .pjImg2 {
  background-color: #e5d0bd;
}
#pjImg_wrap .pjImg3 {
  background-color: #e39d3d;
}
#pjImg_wrap .pjImg4 {
  background-color: #f8f3e8;
}
#pjImg_wrap .pjImg5 {
  background-color: #e39d3d;
}

#pjImg_wrap li a {
  color: #265d49;
  font-size: 4rem;
  margin: 0 auto;
}
#pjImg_wrap li a:hover {
  color: #fff;
}

/*****------- skill -------*****/
#skill {
  width: 100%;
  height: 137.917vw;
  overflow: hidden;
}
.skill_title {
  padding-top: 14.844vw;
  padding-bottom: 7vw;
  font-size: 7.813vw;
  overflow: hidden;
  pointer-events: none;
  color: #265d49;
}

/*----------- move -----------*/
.title_auto1 {
  white-space: nowrap;
  animation: auto1 40s linear infinite;
}
.title_auto2 {
  white-space: nowrap;
  animation: auto2 40s linear infinite;
}
@keyframes auto1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes auto2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/*----------- list -----------*/
#skill_list {
  margin: 0 auto;
  width: 80%;
  height: 84.063vw;
}

#skill_list > .list {
  height: 16.667vw;
  display: flex;
  padding-left: 6.25vw;
  padding-top: 3.958vw;

  transition: 0.4s;
  transform: translateX(0);
}
#skill_list .list:hover {
  background-color: #e5d0bd;
  transform: translateX(50px);
}
#skill_list > li > h3 {
  margin-right: 6.51vw;
}
.skill_list > li > h4 {
  margin-right: 19.792vw;
}
h3 {
  font-weight: bold;
  font-size: 2.5vw;
}
h4 {
  font-size: 1.875vw;
  width: 26.042vw;
}
.skill_txt li {
  line-height: 1.8;
  width: 30vw;
  font-size: 1rem;
}
.skill_txt li::before {
  content: "○";
  margin-right: 0.625vw;
}
.list {
  width: 100%;
  border-bottom: 2px solid #000;
}
.jq {
  margin-right: 15.625vw;
}
.xz {
  margin-right: 27.865vw;
}
.gh {
  margin-right: 26.667vw;
}

/********** footer ***********/
footer {
  height: 28.646vw;
  background-color: #265d49;
  color: #e39d3d;
  margin-top: 5.208vw;
  position: relative;

  display: flex;
}
/*----------- profil -----------*/
.contact_profil {
  width: 26.042vw;
  position: absolute;
  left: 10%;
  top: 20%;
}
.contact_profil h5 {
  font-size: 4.5rem;
  font-weight: bold;
  width: 41.667vw;
}
.contact_profil h5 span {
  display: block;
  font-size: 4.813rem;
}
/*----------- contact -----------*/
.contact_txt {
  width: 40vw;
  padding-top: 3.333vw;
  padding-left: 0.938vw;
  line-height: 1.9;
  font-size: 1rem;
}
.contact_info {
  position: absolute;
  top: 35%;
  right: 10%;
}
h6 {
  font-size: 3rem;
  text-align: right;
  margin-bottom: 3.646vw;
}
.contact_info p {
  font-size: 1.275rem;
  text-align: right;
}
.email {
  font-weight: bold;
  margin-bottom: 1.823vw;
}
.git a {
  text-decoration: underline;
  color: inherit;
}
