@charset "utf-8";

html {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  font-size: 18px;
  background-color: #f8f3e8;
  scroll-behavior: smooth; /* 부드러운 스크롤 */
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #f8f3e8;
}
::-webkit-scrollbar-thumb {
  background-color: #265d49;
  border-radius: 10px;
}

/********** header ***********/
header {
  width: 100%;
  height: 600px;
  /* 
  display: flex;
  justify-content: space-between; */

}
.logo {
  width: 60px;
  height: 60px;
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 1;
}
#title {
  width: 100%;
  font-size: 100px;

  position: absolute;
  top: 250px;
  left: 140px;
}

#menu {
  /* background-color: #e39d3d; */
  width: 185px;
  height: 455px;
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 2;
}
#gnb {
  display: none;
  height: 0;
  position: absolute;
  top: 80px;
  right: 0;
  font-size: 38px;
  /* overflow: hidden; */
}
#gnb li {
  padding: 10px;
}
#gnb li a {
  color: #000;
  display: block;
}
#menu_btn {
  z-index: 2;
  background-color: #265d49;
  border-radius: 50%;
  position: fixed;
  top: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  transition: 0.5s;
  padding: 5px;
}
#menu_btn span {
  background-color: #e39d3d;
  display: block;
  padding: 1px;
  margin-left: 10px;
  margin-bottom: 6px;
  transition: 0.4s;
  width: 28px;
}
#menu_btn span:first-child {
  margin-top: 15px;
}
/* nav.on #menu_btn .bar1 {
  transform: rotate(45deg);
}
nav.on  #menu_btn .bar2 {
  display: none;
}
nav.on  #menu_btn .bar3 {
  transform: rotate(-45deg);
} */


/********** main contents ***********/
h2 {
  font-size: 72px;
  font-weight: bold;
}
/* topUP btn */
.topUP {
  z-index: 2;
  position: fixed;
  bottom: 50px;
  right: 84px;
}

/* about */
#about {
  width: 100%;
  height: 1160px;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
/* .move_action {
} */
.move {
  background-color: #265d49;
  width: 310px;
  height: 310px;
  border-radius: 155px;
  position: absolute;
  top: 80px;
  left: 80px;
}
.rotate1 {
  position: absolute;
  right: 182px;
  top: 0;

  animation: rotate1 15s linear infinite;
}
.rotate2 {
  position: absolute;
  bottom: 0;
  left: 230px;

  animation: rotate2 15s linear infinite;
}
@keyframes rotate1 {
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate2 {
  to {
    transform: rotate(-360deg);
  }
}
.about_line1 {
  margin-top: 235px;
  display: flex;
  justify-content: center;
  width: 85%;
  height: 860px;
  border: 3px solid #265d49;
}
.about_line2 {
  margin-top: 8px;
  width: 99%;
  height: 838px;
  border: 3px solid #265d49;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_txt {
  width: 925px;
  padding-left: 165px;
}
.about_txt h2 {
  padding-bottom: 68px;
}
.about_txt p {
  font-size: 38px;
  font-weight: bold;
}
.about_txt .mention {
  padding-top: 45px;
  padding-bottom: 62px;
}
.about_kw {
  width: 450px;
  height: 118px;
  display: flex;
  flex-wrap: wrap;
}
.about_kw li {
  height: 45px;
  line-height: 45px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 25px;
  margin-right: 20px;
}
.about_kw li:hover {
  background-color: #000;
  color: #fff;
}
.about_kw li:nth-child(3) {
  flex-wrap: wrap;
}
.about_kw li:nth-child(1),
li:nth-child(3) {
  width: 108px;
}
.about_kw li:nth-child(2),
li:nth-child(4) {
  width: 168px;
}

.about_kw li:nth-child(5) {
  width: 180px;
}
.about_img {
  margin-right: 68px;
}

/* who am i */
#who {
  height: 545px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#who h2 {
  position: absolute;
  left: 18%;
  top: 125px;
}
#who p {
  font-size: 20px;
  width: 720px;
  line-height: 1.8;
}
#who .p1 {
  padding-bottom: 40px;
  position: absolute;
  right: 15%;
  top: 135px;
}
#who .p2 {
  position: absolute;
  right: 15%;
  top: 250px;
}

/* project */
#project {
  height: 1095px;
  width: 100%;
  background-color: #e39d3d;
}
#pj_menu {
  height: 230px;
  width: 100%;
  background-color: #265d49;
  font-size: 36px;

  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 38px;
}
#pj_menu li {
  /* height: 10px; */
  padding-bottom: 38px;
}
#pj_menu a {
  color: #e39d3d;
}
.bg_wrapper {
  position: relative;
}
#pj_img li {
  width: 100%;
  height: 870px;

  position: absolute;
  top: 0;
}
#pj_img li a {
  font-size: 90px;
  font-weight: bold;
  color: #265d49;

  position: absolute;
  top: 350px;
  left: 700px;
}
#pj_img li a:hover {
  color: #f8f3e8;
}
#pj_img .bg1 {
  background: url(../images/project-bg1.png), no-repeat 50% / cover;
}
#pj_img .bg2 {
  display: none;
  background: url(../images/project-bg2.png), no-repeat 50% / cover;
}
#pj_img .bg3 {
  display: none;
  background: url(../images/project-bg3.png), no-repeat 50% / cover;
}
#pj_img .bg4 {
  display: none;
  background: url(../images/project-bg4.png), no-repeat 50% / cover;
}
#pj_img .bg5 {
  display: none;
  background: url(../images/project-bg5.png), no-repeat 50% / cover;
}

/* skill */
#skill {
  width: 100%;
  height: 2648px;
  overflow: hidden;
}
.skill_title {
  padding-top: 285px;
  padding-bottom: 285px;
  font-size: 150px;
  overflow: hidden;
  pointer-events: none;
  color: #265d49;
}
.title_auto1 {
  white-space: nowrap;
  animation: auto1 40s linear infinite;
}
.title_auto2 {
  white-space: nowrap;
  animation: auto2 40s linear infinite;
}
@keyframes auto1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes auto2 {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

#skill_list {
  margin: 0 auto;
  width: 80%;
  height: 1614px;
}

#skill_list > .list {
  height: 320px;
  display: flex;
  padding-left: 120px;
  padding-top: 76px;

  transition: 0.4s;
  transform: translateX(0);
}
#skill_list .list:hover {
  background-color: #e5d0bd;
  transform: translateX(50px);
}
#skill_list > li > h3 {
  margin-right: 125px;
}
.skill_list > li > h4 {
  margin-right: 380px;
}
h3 {
  font-weight: bold;
  font-size: 48px;
}
h4 {
  font-size: 36px;
  width: 500px;
}
.skill_txt li {
  line-height: 1.8;
  width: 370px;
}
.list {
  width: 100%;
  border-bottom: 2px solid #000;
}
.jq {
  margin-right: 300px;
}
.xz {
  margin-right: 535px;
}
.gh {
  margin-right: 512px;
}

/********** footer ***********/
footer {
  height: 745px;
  background-color: #265d49;
  color: #e39d3d;
  margin-top: 100px;
  position: relative;

  display: flex;
}
.contact_profil {
  width: 500px;
  /* padding-top: 212px;
  padding-left: 188px;
  padding-bottom: 65px; */
  position: absolute;
  left: 10%;
  top: 20%;
}
h5 {
  font-size: 90px;
  font-weight: bold;
  width: 800px;
}
h5 span {
  display: block;
  font-size: 77px;
}
.contact_txt {
  width: 510px;
  padding-top: 64px;
  line-height: 3;
}
.contact_info {
  position: absolute;
  top: 35%;
  right: 10%;
}
h6 {
  font-size: 40px;
  text-align: right;
  margin-bottom: 70px;
}
.contact_info p {
  font-size: 30px;
  text-align: right;
}
.email {
  font-weight: bold;
  margin-bottom: 35px;
}
.git a {
text-decoration: underline;
color: inherit;

}