@charset "utf-8";

/************ pc *********************************************/
h1 {
  font-size: 5vw;
  line-height: 1.2;
}
h2 {
  font-size: 4vw;
}
h3 {
  font-size: 2vw;
  margin: 0 auto;
}
h4 {
  font-size: 1.5vw;
  margin-bottom: 30px;
}
h5 {
  font-size: 18px;
  padding-bottom: 50px;
}
/*********** header ***********/
header {
  height: 60vw;
  background-size: 55%;
  background-position-x: 0;
  background-position-y: 200px;
}
header #bg_pattern1 {
  width: 40%;
  bottom: 20vw;
  left: 0;
}
header #bg_pattern1-1 {
  width: 40%;
  height: 40vw;
  background: url(../images/main_pattern8.png) no-repeat 0 100% / 10%;
  position: absolute;
  bottom: 0;
  right: 0;
}
header #bg_pattern2 {
  width: 40%;
  bottom: 8vw;
  left: -25vw;
}
header #bg_pattern2-1 {
  height: 10vw;
  width: 40%;
  background: url(../images/main_pattern9.png) no-repeat 100% 100% /40%;
  position: absolute;
  top: 6vw;
  right: 15vw;
}
header #bg_pattern3 {
  width: 23vw;
  height: 23vw;
  background: url(../images/main_pattern2.png) no-repeat 50% / contain;

  position: absolute;
  bottom: 12vw;
  right: 5vw;
}
header #bg_pattern4 {
  width: 23vw;
  height: 23vw;
  background: url(../images/main_pattern4.png) no-repeat 50% / contain;

  position: absolute;
  top: -6vw;
  right: 5vw;
  z-index: 9999;
}
header #bg_pattern5 {
  width: 10vw;
  height: 10vw;
  background: url(../images/main_pattern3.png) no-repeat 50% / contain;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

/*********** nav ***********/
.overlay .menu {
  height: 490px;
  background: url(../images/menu_bgline.png) no-repeat 50% / contain;
}
.overlay .menu ul li {
  font-size: 3vw;
  transition: 0.3s;
}
.overlay .menu ul li:hover {
  color: #fff;
  transform: translateX(-20px);
}

/*********** swiper ***********/
.swiper_container {
  display: block;
  width: 100%;
  height: 40vw;

  position: absolute;
  top: 0;
  left: 0;
}
.swiper_slide {
  display: flex;
  width: 270%;
}
.slide_img {
  width: 90%;
  overflow: hidden;
}
.slide_img .img1 {
  background: url(../images/main_img1-1.png) no-repeat 50% / contain;
}

/* txt */
.slide_title {
  font-size: 20px;
  /* font-weight: bold; */
}

/* pagination */
.slideshow {
  position: relative;
}
.slideshow .swiper-pagination {
  position: absolute;
  bottom: -10vw;
  left: 0;
  width: 100%;
  height: 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  transition: 0.3s;
}

/*********** title ***********/
#title {
  width: 50%;
  position: absolute;
  right: 0;
}
#title .colorBox1 {
  width: 13vw;
  height: 4vw;

  top: 12vw;
  right: 10vw;
}
#title .colorBox2 {
  width: 13vw;
  height: 4vw;

  bottom: 0;
  left: 4vw;
}
h1:nth-child(2) {
  margin-left: 120px;
}
h1:nth-child(3) {
  margin-left: 50px;
}

/*********** main ***********/
main {
  margin: 0 auto;
  width: 85%;
}
/*********** intro txt ***********/
#intro_txt h2 .colorBox1 {
  width: 15vw;
  height: 5vw;

  position: absolute;
  top: 2vw;
  right: 5vw;
}
#intro_txt h2 .colorBox2 {
  width: 15vw;
  height: 5vw;

  position: absolute;
  top: 8vw;
  left: 0;
}

/* btn */
.about_more_btn a::after {
  content: "";
  width: 0;
}
.about_more_btn:hover a::after {
  width: 65%;
}

/*********** program ***********/
#program ul {
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(25vw, 1fr));
}
#program ul li {
  margin-bottom: 80px;
}
#program ul .date {
  font-size: 14px;
  color: #8a8d8f;
  padding: 30px 0 10px 0;
}

#program ul h4 span {
  display: inline;
}
#program ul li:nth-child(2) span {
  display: block;
}
#program ul li:nth-child(3) span {
  display: block;
}
#program ul li:nth-child(9) {
  display: block;
}

/* btn */
#program .morePro_btn {
  width: 188px;
  height: 188px;
  margin: 0 auto;
  background-color: #9ed4f3;
  border-radius: 50%;
}
#program .morePro_btn a {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 150px;
  font-size: 16px;
  padding-top: 20px;
}

/*********** information ***********/
#information {
  width: 95%;
  margin-top: 200px;
}
.info_text_wrap {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.info_text {
  width: 380px;
  border: 3px solid #9ed4f3;
  padding: 40px;
}
.info_text p {
  font-size: 14px;
}
.info_text .icontxt {
  flex-direction: column;
}
.time .icon_time span {
  width: 100%;
  padding-left: 50px;
  font-size: 13px;
}
.time .icon_time {
  padding-bottom: 50px;
}
.icontxt .icon_time::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../icons/ico_running_time01.png) no-repeat 50% / contain;
  padding-right: 50px;
}
.icontxt .icon_holiday::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../icons/ico_running_time02.png) no-repeat 50% / contain;
  padding-right: 50px;
}
.icontxt .icon_holiday span {
  padding-left: 55px;
}

.notice p:last-child {
  display: block;
}
.notice p {
  padding: 20px 0;
}

.recruit p:last-child {
  display: block;
}
.recruit span {
  padding-right: 10px;
}

/*********** footer ***********/
footer {
  height: 350px;
  display: flex;
  justify-content: space-between;
  /* margin: 0 150px; */
}

footer .left {
  position: absolute;
  left: 150px;
  width: 30%;
}
footer .left img {
  width: 30%;
  margin-bottom: 40px;
}
footer .left p span {
  display: inline;
}

footer .right {
  text-align: right;
  position: absolute;
  right: 150px;
  width: 30%;
}
footer .right .pf_btn {
  position: absolute;
  right: 0;
}

footer .right .pf_btn a:hover {
  background-color: #8a8d8f;
  color: #fff;
}

/* pattern */
.foot_bg_pattern1 {
  width: 350px;
  height: 350px;

  bottom: 0;
  left: 0;
}
.foot_bg_pattern2 {
  width: 200px;
  height: 60px;

  top: 0;
  right: -30px;
}
.foot_bg_pattern3 {
  width: 80px;
  height: 200px;
  background: url(../images/main_pattern8.png) no-repeat 50% / contain;
  position: absolute;
  bottom: 0;
  right: 400px;
}
