@charset "utf-8";

/************ 모바일 *********************************************/

html {
  font-family: "GmarketSansLight", AppleSDGothicNeo-Light, Malgun Gothic, dotum,
    sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.6;
  color: #000;
  scroll-behavior: smooth;
  min-width: 419px;
}
a {
  color: inherit;
}

::-webkit-scrollbar {
  width: 0.7vw;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #9ed4f3;
  border-radius: 0.521vw;
}

h1 {
  font-size: 12vw;
  font-family: "Orbitron", sans-serif;
  padding: 0 55px;
}
h2 {
  font-size: 4.5vw;
  font-family: "pretendard", sans-serif;
  margin: 0 auto;
  padding: 0 5px;
}
h2 span {
  font-weight: bold;
}
h3 {
  font-size: 20px;
  font-family: "Orbitron", sans-serif;
  text-align: center;
  padding-bottom: 40px;
}
h4 {
  font-size: 14px;
  font-family: "GmarketSansMedium", sans-serif;
  margin-bottom: 30px;
}
h5 {
  font-size: 18px;
  font-family: "GmarketSansMedium", sans-serif;
  cursor: pointer;
  padding-bottom: 20px;
}
h5::after {
  content: " >";
  cursor: pointer;
}

/*********** header ***********/
header {
  position: relative;
  height: 120vw;
  background: url(../images/main_pattern1.png) no-repeat bottom / contain;
  background-position-y: 80%;
  margin-bottom: 40px;
  overflow: hidden;
}
header #bg_pattern1 {
  height: 40vw;
  width: 100%;
  background: url(../images/main_pattern8.png) no-repeat 0 100% / 10%;
  position: absolute;
  bottom: 0;
  left: 0;
}
header #bg_pattern2 {
  height: 10vw;
  width: 100%;
  background: url(../images/main_pattern9.png) no-repeat 100% 100% /40%;
  position: absolute;
  bottom: -20px;
  right: -50px;
}
/*********** nav ***********/
nav {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}
nav .logo img {
  width: 70%;
  z-index: 99999;
}
nav .toggle_btn::before {
  content: "";
  display: block;
  width: 60px;
  height: 28px;
  background: url(../icons/toggleMenu_btn.png) no-repeat 50% / contain;
  position: absolute;
  top: 25px;
  right: 10px;
  z-index: 99999;
}
nav #gnb {
  background-color: #9ed4f3;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;

  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 8vw;
  padding-top: 150px;
  opacity: 0;
  display: none;
}
nav #gnb li a {
  display: block;
  padding: 30px;
}

/* pc
nav #gnb li a:hover {
  color: #fff;
  transform: translateX(10px);
  transition: 0.3s;
} */

/* .active지금 심각하게 해결 안되는 중

nav .toggle_btn.active {
  height: 60px;
  background: url(../icons/toggleClose_Wbtn.png) no-repeat 50% / contain;
}
nav .logo.active img {
  b
}
nav .toggle_btn.active::before {
  opacity: 0;
}
nav #gnb.active {
  opacity: 1;
} */

/* pc 
nav #gnb li a:hover {
  color: #fff;
} */

/*********** swiper ***********/
.swiper_container {
  display: none;
}

/*********** title ***********/
#title {
  padding-top: 150px;
  position: relative;
  padding-left: 5vw;
}
h1:nth-child(2) {
  margin-left: 60px;
}
h1:nth-child(3) {
  margin-left: 30px;
}
#title .colorBox1 {
  display: block;
  width: 150px;
  height: 40px;
  background-color: rgba(158, 212, 243, 0.5);
  transform: rotate(-30deg);
  /* box-shadow: 15px 20px 30px #ddd; */

  position: absolute;
  top: 35vw;
  right: 10vw;
}
#title .colorBox2 {
  display: block;
  width: 150px;
  height: 40px;
  background-color: rgba(250, 255, 173, 0.5);
  transform: rotate(20deg);
  /* box-shadow: -15px 20px 30px #ddd; */

  position: absolute;
  bottom: 12vw;
  left: 5vw;
}

/*********** main ***********/
main {
  position: relative;
}

/*********** topUP ***********/
#topUp {
  position: fixed;
  bottom: 100px;
  right: 20px;
}
#topUp img {
  width: 80%;
}

/*********** intro txt ***********/
#intro_txt {
  padding: 10px;
  margin-bottom: 50px;
}
#intro_txt h2 .colorBox1 {
  display: block;
  width: 100px;
  height: 30px;
  background-color: rgba(158, 212, 243, 0.5);
  transform: rotate(30deg);
  /* box-shadow: 15px 20px 30px #ddd; */

  position: absolute;
  top: 0;
  right: 10vw;
}
#intro_txt h2 .colorBox2 {
  display: block;
  width: 100px;
  height: 30px;
  background-color: rgba(250, 255, 173, 0.5);
  transform: rotate(-20deg);
  /* box-shadow: -15px 20px 30px #ddd; */

  position: absolute;
  top: 5vw;
  left: 2vw;
}

/* btn */
.about_more_btn {
  margin-left: 5px;
  position: relative;
  width: 150px;
}
.about_more_btn a {
  display: block;
  width: 120px;
  text-align: center;
  font-size: 14px;
  padding: 20px 5px 10px 5px;
}
.about_more_btn a::after {
  content: "";
  width: 65%;
  height: 3px;
  background-color: #000;
  position: absolute;
  left: 12px;
  bottom: 0;
  transition: 0.4s;
}
/* pc ver
.about_more_btn:hover a::after {
  width: 65%;
} */

/*********** program ***********/
#program {
  padding-top: 100px;
  margin-bottom: 100px;
  max-width: 1520px;
}
#program ul {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: repeat(4, 60vw);
  padding: 10px;
}
#program ul .date {
  font-size: 12px;
  color: #8a8d8f;
  padding: 30px 0 10px 0;
}
#program ul h4 span {
  display: block;
}
#program ul li:last-child {
  display: none;
}

/* btn */
#program .morePro_btn {
  width: 110px;
  height: 110px;
  margin: 0 auto;
  background-color: #9ed4f3;
  border-radius: 50%;
}
#program .morePro_btn a {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 10px;
  padding-top: 15px;
}

/*********** information ***********/
#information {
  width: 75%;
  margin: 0 auto 100px;
}
.info_text {
  padding: 20px 0;
}
.info_text .icontxt {
  display: flex;
}
.info_text p {
  font-size: 16px;
  padding-bottom: 20px;
}
.time .icon_time span {
  display: block;
  color: #8a8d8f;
  width: 80%;
  padding-top: 10px;
}
.time .icon_holiday span {
  display: block;
  padding-top: 10px;
}

.notice p:last-child {
  display: none;
}

.recruit span {
  display: block;
  color: #8a8d8f;
  font-size: 14px;
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
}
.recruit p:last-child {
  display: none;
}

/*********** footer ***********/
footer {
  padding: 0 20px;
  margin: 0 auto;
  color: #8a8d8f;
  position: relative;
  overflow: hidden;
}
footer .left img {
  width: 20%;
  margin-bottom: 20px;
}
footer .left p {
  font-size: 12px;
  padding: 10px 0;
}
footer .left p span {
  display: block;
}

footer .right {
  margin-top: 40px;
}
footer .right p {
  padding: 10px 0;
}
footer .right > a {
  text-decoration-line: underline;
}
footer .right .pf_btn {
  border: 2px solid;
  margin: 30px 0 50px;
  width: 200px;
  text-align: center;
}
footer .right .pf_btn a {
  display: block;
  padding: 10px;
}

/* pattern */
.foot_bg_pattern1 {
  width: 300px;
  height: 300px;
  background: url(../images/main_pattern5-1.png) no-repeat 50% / contain;
  position: absolute;
  bottom: 0;
  left: -20px;
}
.foot_bg_pattern2 {
  width: 200px;
  height: 60px;
  background: url(../images/main_pattern9.png) no-repeat 50% / contain;
  position: absolute;
  top: 0;
  right: -30px;
}
