@charset "utf-8";

/************ 모바일 *********************************************/
html {
  font-family: "pretendard", AppleSDGothicNeo-Light, Malgun Gothic, dotum,
    sans-serif;
  font-size: 14px;
  color: #01172d;
  text-transform: capitalize;
}
a {
  color: inherit;
}
body h2,
body h3,
body h4 {
  font-weight: bold;
}

/*********** header ***********/
header {
  width: 100%;
  height: 600px;
  background: url(../images/m_main_final.png) no-repeat 50% / cover;
}

/******** nav ********/
header nav {
  display: flex;
  border-bottom: 2px solid rgba(96, 96, 96, 0.3);

  position: sticky;
  top: 0;
  left: 0;
}
header nav h1 {
  width: 189px;
  height: 63px;

  margin: 1vw;
  padding-top: 15px;
  padding-left: 30px;
}

header nav #toggle_menu {
  display: block;
  text-indent: -999px;
  background: url(../icons/menu.svg) no-repeat 50% / contain;
  width: 32px;
  height: 32px;
  margin: 4vw;

  position: absolute;
  right: 15px;
  top: 0;
}

header nav #gnb,
header nav #registry {
  /* nav 메뉴 */
  display: none;
}

/* img slide */
header #slide_txt {
  height: 560px;
  position: absolute;
  bottom: 0;
  left: 10%;
}
header #slide_txt h1 {
  width: 380px;
  font-size: 3rem;
  margin: 0 auto;
}
header #slide_txt p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;

  padding: 15px 0 40px;
}
header #slide_txt .btn {
  width: 120px;
  height: 45px;
  background-color: #ffcb00;
  text-align: center;
  line-height: 45px;

  margin: 0 auto;
}

/********* main *********/
main .title {
  font-weight: bold;
  font-size: 2.3rem;
  padding-top: 80px;
  padding-bottom: 10px;

  margin-left: 20px;
}
main .sub_title {
  font-weight: bold;
  font-size: 1.5rem;

  margin-left: 20px;
}

/*********** main benefit ***********/
main #main_benefit {
  text-align: center;
  padding-bottom: 60px;

  border-bottom: 1px solid #ffcb00;
}
main #main_benefit h3 {
  padding-bottom: 46px;
}
main #main_benefit .benefit_icon {
  display: flex;
}
main #main_benefit .benefit_icon h3 {
  font-size: 1.2rem;
}
main #main_benefit img {
  width: 50%;
}
main #main_benefit .present img {
  width: 40%;
}
main #main_benefit .present h3 {
  margin-top: 15px;
}
main #main_benefit span {
  display: block;
}
main #main_benefit p {
  display: none;
}

/*********** main limited ***********/
main #main_limited {
  height: 50%;
}
main #main_limited .limited_img {
  height: 100vw;
  background: url(../images/limited_bg.png) no-repeat 50% / cover;
}
main #main_limited .limited_img .lmt_1 {
  display: flex;
}
main #main_limited .limited_img .lmt_1 img {
  width: 30%;
  margin-top: 50px;
  margin-left: 95px;
}
main #main_limited .limited_img .lmt_1_txt {
  padding-top: 190px;
  margin-left: 10px;
}
main #main_limited .limited_img .lmt_1_txt h4 {
  width: 60%;
  line-height: 20px;
}
main #main_limited .limited_img .lmt_1_txt .price {
  font-size: 20px;
  font-weight: bold;

  margin-top: 30px;
}
main #main_limited .limited_img .lmt_1_txt .btn {
  width: 120px;
  height: 45px;
  background-color: #ffcb00;
  text-align: center;
  line-height: 45px;

  margin-top: 30px;
}

main #main_limited .limited_img .lmt_2,
main #main_limited .limited_img .lmt_3 {
  display: none;
}
/* ************************************************************ */
main #main_limited .limited_txt {
  padding: 20px;
  padding-bottom: 50px;
  border-bottom: 2px solid rgba(96, 96, 96, 0.3);
}
main #main_limited .limited_txt .carousel {
  width: 20px;
  background: url(../icons/line-angle-down.svg) no-repeat 50% / contain;
  cursor: pointer;
}
main #main_limited .limited_txt .lmt_txt .lmt_txt_title .carousel:active {
  /* ???????? */
  background: url(../icons/line-angle-up.svg) no-repeat 50% / contain;
}
main #main_limited .limited_txt .lmt_txt .lmt_txt_title {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
main #main_limited .limited_txt .lmt_txt:first-child .lmt_txt_title {
  padding-bottom: 15px;
  border-bottom: 1px solid #01172d;
}
main #main_limited .limited_txt .lmt_txt {
  padding-bottom: 40px;
}

main #main_limited .limited_txt span {
  padding-right: 10px;
}
main #main_limited .limited_txt p {
  padding: 20px;
  line-height: 30px;
}

main #main_limited .limited_txt .lmt_txt:nth-child(2) p,
main #main_limited .limited_txt .lmt_txt:nth-child(3) p {
  display: none;
}

/*********** main best ***********/
main #main_best .best {
  padding: 20px;
  padding-bottom: 100px;
  border-bottom: 2px solid rgba(96, 96, 96, 0.3);
}
main #main_best .best p {
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 30px;
  line-height: 40px;
}
main #main_best .best .btn2 {
  border: 1px solid #01172d;
  width: 115px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-weight: bold;
}
main #main_best .best_2,
main #main_best .best_3,
main #main_best .best_4 {
  display: none;
}

/*********** main video ***********/
main #main_video {
  height: 150vw;
  margin: 0 auto;
  padding-top: 50px;
}
main #main_video h3 {
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 20px;
  line-height: 40px;
}
main #main_video p {
  margin: 20px;
  font-size: 16px;
  text-align: justify;
  line-height: 25px;

  padding-bottom: 80px;
}
main #main_video .btn {
  display: none;
}

/*********** main gift ***********/
main #main_gift {
  height: 460vh;
  background: url(../images/m_gift_bg.png) no-repeat 50% / cover;
}
main #main_gift h2,
main #main_gift h3 {
  text-align: center;
}
main #main_gift h3 {
  padding-bottom: 50px;
}
/* ************************************************************ */
main #main_gift .set_container {
  height: 430vh;
  display: grid;
  grid-template: repeat(9, 1fr) / repeat(1, 1fr);
}
main #main_gift .set_container .set {
  background: no-repeat 50% / cover;
  overflow: hidden;
  margin: 10px 20px;
}
main #main_gift .set_container .set1 {
  background-image: url(../images/gift_1.png);
}
main #main_gift .set_container .set2 {
  background-image: url(../images/gift_2.png);
}
main #main_gift .set_container .set3 {
  background-image: url(../images/gift_3.png);
}
main #main_gift .set_container .set4 {
  background-image: url(../images/gift_4.png);
}
main #main_gift .set_container .set5 {
  background-image: url(../images/gift_5.png);
}
main #main_gift .set_container .set6 {
  background-image: url(../images/gift_6.png);
}
main #main_gift .set_container .set7 {
  background-image: url(../images/gift_7.png);
}
main #main_gift .set_container .set8 {
  background-image: url(../images/gift_8.png);
}
main #main_gift .set_container .set9 {
  background-image: url(../images/gift_9.png);
}

main #main_gift .set_container .set_txt {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;

  font-size: 1.7rem;
  font-weight: bold;
  /* line-height: 40vh; */
  padding-top: 15vh;

  opacity: 0;
  transition: 0.3s;
}
main #main_gift .set_container .set_txt:hover {
  opacity: 1;
  background-color: rgba(255, 203, 0, 0.7);
}
main #main_gift .set_container .set_txt h4 {
  padding-bottom: 50px;
}

/*********** main info ***********/
main #main_info .search {
  width: 100%;
  height: 500px;
  border-bottom: 2px solid rgba(96, 96, 96, 0.3);
}
main #main_info .search h3 {
  margin-left: 20px;
  margin-top: 30px;

  font-size: 1.5rem;
  font-weight: 500;
  line-height: 35px;
}

/*********** footer ***********/
