@charset "utf-8";

html {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  font-size: 1rem;

  background-color: #f8f3e8;
  scroll-behavior: smooth; /* 부드러운 스크롤 */
}
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #e39d3d;
  border-radius: 10px;
}
header,
main {
  width: 65%;
  margin: 0 auto;
  line-height: 1.6;
}
/********** header ***********/
header {
  /* width: 100%; */
  height: 31.25vw;
  position: relative;
}
.logo {
  width: 3.125vw;
  height: 3.125vw;
  position: fixed;
  top: 2.083vw;
  left: 2.083vw;
  z-index: 10000;
}

/*----------- nav -----------*/
/* menu effect */
.menuOverlay {
  width: 800px;
  height: 800px;

  position: fixed;
  top: -200px;
  right: -175px;
  background: #265d49;
  padding: 22px 28px;
  z-index: 1000;
  transition: 0.3s;
  clip-path: circle(4% at 550px 270px);
}
.menuOverlay:hover {
  clip-path: circle(5% at 550px 270px);
}
.menuOverlay.open {
  clip-path: circle(45% at 450px 320px);
  background: #e39d3d;
}

/* gnb effect */
#gnb {
  z-index: 100;
  display: none;

  position: absolute;
  top: 250px;
  left: 250px;
  font-size: 1.979vw;
  line-height: normal;
}
#gnb li {
  padding: 15px;
  width: 10.938vw;
}
#gnb li::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

#gnb li::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #e39d3d;
  z-index: -1;
  transition: transform 0.3s ease;
}
#gnb li a {
  color: #000;
  display: block;
}

#gnb li a::after {
  content: "";
  height: 20px;
  width: 0;
  background-color: rgba(38, 93, 73, 0.5);
  position: absolute;
  /* bottom: 10px; */
  left: 10px;
  right: 0;
  transition: 0.4s;
}

#gnb li:hover a::after {
  width: 90%;
}

/*----------- toggle btn -----------*/
#menu_btn {
  z-index: 2;
  border-radius: 50%;
  position: fixed;
  top: 90px;
  right: -42px;
  width: 100px;
  height: 100px;
  padding: 5px;

  transform: translate(-50%, -50%);
  cursor: pointer;
  overflow: hidden;
}
#menu_btn span {
  background-color: #e39d3d;
  display: block;
  transition: 0.4s;
  width: 25px;
  height: 1.5px;

  position: absolute;
  left: 20px;
  top: 20px;

  transition: all 0.3s;
}
#menu_btn span:nth-child(2) {
  top: 28px;
}
#menu_btn span:nth-child(3) {
  top: 36px;
}

#menu_btn.on .bar1 {
  top: 50%;
  transform: rotate(45deg) translate(-14px, -14px);
  background-color: #265d49;
}
#menu_btn.on .bar2 {
  opacity: 0;
}
#menu_btn.on .bar3 {
  transform: rotate(-45deg) translate(4.5px, -4.5px);
  background-color: #265d49;
}

/********** main contents ***********/
h1 {
  font-size: 4.625rem;
  margin-bottom: 80px;
  height: 3.646vw;
  background-color: rgba(227, 157, 61, 0.5);
}
h2 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 0.26vw;
  height: 2vw;
  width: 100%;
  background-color: rgba(227, 157, 61, 0.5);
}
h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.563vw;
}
h4 {
  font-size: 1.125rem;
  font-weight: bold;
}
h4::before {
  content: "○";
  margin-right: 0.521vw;
}
h5 {
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 1.563vw;
}

/*****------- topUp btn -------*****/
.topUP {
  z-index: 2;
  width: 4.167vw;
  height: 4.167vw;
  position: fixed;
  bottom: 6.51vw;
  right: 2.344vw;
}

section {
  padding: 0 0 0 5.208vw;
}
.icon1,
.icon2 {
  padding-bottom: 1.563vw;
}

/*****------- main title -------*****/
#main_wrapper {
  width: 1100px;
  height: 20.833vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  position: absolute;
  top: 14.583vw;
}

/* txt */
#main_txt p {
  font-size: 1.125rem; /* 18px */
  padding: 5px;
  margin-left: 10px;
}
#main_txt .tag {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-top: 35px;
}
#main_txt .tag li {
  border: 2px solid #000;
  padding: 0.365vw 0.729vw;
  margin: 1.042vw 1.042vw 0 0;
  border-radius: 50px;
  font-size: 1rem;
}
#main_txt .tag li:hover {
  background-color: #000;
  color: #fff;
}

/* img */
#main_img img {
  border: 4px solid #000;
  border-radius: 25px;
  width: 10.417vw;
  height: 20.833vw;
  margin: 2vw 1vw;
}

/*****------- overview -------*****/
#overview {
  margin-top: 300px;
  padding-right: 5.208vw;
  display: flex;
  justify-content: space-between;
}
#overview h2 {
  width: 200px;
}

/* ov txt */
#ov_container {
  width: 31.25vw;
}

/* goal */
#ov_container .s1 {
  padding: 2.604vw 0;
}
#ov_container .s1 .icon1,
.icon2 {
  padding-bottom: 1.563vw;
}
#ov_container .s1 h4 {
  font-weight: normal;
  padding: 1.042vw 0;
}
#ov_container .s1 p {
  padding: 0 1.563vw;
}
#ov_container .s1 ul {
  margin-top: 2vw;
}
#ov_container .s1 ul .bf_circle1 {
  font-size: 1.125rem;
  padding-bottom: 1vw;
}
#ov_container .s1 ul .bf_circle1::before {
  content: "○";
  margin-right: 0.521vw;
}
#s1_goal p {
  width: 31.25vw;
}

/* timeline */
#s1_timeline {
  margin-right: 5.208vw;
}
#s1_timeline .time_txt {
  width: 600px;
}
#s1_timeline .time_txt P {
  padding: 5px 0;
}

/* role */
#s1_did {
  margin-right: 2.604vw;
}
#ov_container #s1_did .percent {
  width: 90%;
  border: 2px solid #265d49;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  border-radius: 50px;
}
#ov_container #s1_did .percent50 {
  width: 60%;
  background-color: #265d49;
  border-radius: 50px;
  padding: 3px;
}
#ov_container #s1_did .role li {
  padding-top: 1vw;
  width: 220px;
}
#ov_container #s1_did .role li:first-child {
  padding-top: 0;
}

/***********************/
#s1_did .role li:nth-child(2),
#s1_did .role li:nth-child(3),
#s1_did .role li:nth-child(4) {
  padding-left: 1.5vw;
}
#ov_container #s1_did .bf_circle2 {
  padding-left: 0;
}
#ov_container #s1_did .bf_circle2::before {
  content: "○";
  margin-right: 0.521vw;
}

/*****------- problem + solution -------*****/
#proSol {
  padding-right: 0;
  margin-top: 11.167vw;

  display: flex;
  justify-content: space-between;
}
#proSol h2 {
  width: 200px;
}
#proSol h2:last-child {
  margin-top: 2vw;
  width: 170px;
}
.psTitle {
  display: flex;
  flex-direction: column;
}
#ps_container {
  width: 36.458vw;
}

#ps_container .s2_problem,
.s2_solution {
  display: flex;
  justify-content: space-between;
}
#ps_container .s2_problem .prob_txt,
#ps_container .s2_solution .solu_txt {
  width: 24vw;
  padding-right: 1.563vw;
}
#ps_container .s2_problem .prob_txt p,
#ps_container .s2_solution .solu_txt p {
  font-size: 0.875rem;
  padding-left: 1.458vw;
  padding-bottom: 2.604vw;
}

/*****------- Ux vision -------*****/
#vision {
  margin-top: 5vw;
  padding-bottom: 150px;
  padding-top: 100px;
}
#vision h2 {
  width: 200px;
}

.vision_txt {
  width: 500px;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  /* margin-bottom: 100px; */
  margin-top: 10vw;
  border-bottom: 6px double #265d49;
}

/*****------- design -------*****/
#design {
  margin-top: 11.167vw;
}
#design h2 {
  width: 150px;
}

/* img */
#design .s3_design_top {
  display: flex;
  justify-content: space-between;
}
#design .s3_design_top img {
  border: 5px solid #000;
  border-radius: 30px;
  box-shadow: 3px 5px 42px 22px rgba(0, 0, 0, 0.1);
  width: 15.417vw;
  height: 31.833vw;
}
#design .s3_design_top .img_box {
  width: 50vw;
  height: 35vw;
  position: relative;
}
#design .s3_design_top .img_box #img1 {
  z-index: 100;
  position: absolute;
  top: 5.5vw;
  left: -5.208vw;
}
#design .s3_design_top .img_box #img2 {
  position: absolute;
  top: 5.5vw;
  left: 14.5vw;
}
#design .s3_design_top .img_box #img3 {
  position: absolute;
  top: 5.5vw;
  right: 0;
}

/* txt */
.s3_design_info {
  padding-top: 7.813vw;
  display: flex;
  justify-content: space-between;
}

/* keyword */
.keyword_list {
  display: flex;
  justify-content: space-between;
}
.keyword_list li {
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;
  margin-right: 1.563vw;
  border: 2px solid #265d49;
  width: 4.167vw;
  height: 4.167vw;
  line-height: 4.167vw;
  border-radius: 50px;
}

/* color */
.color_list {
  display: flex;
  justify-content: space-between;
}
.color_list li {
  margin-right: 1.8vw;

  background-color: #f05153;
  width: 4.167vw;
  height: 4.167vw;
  line-height: 10.417vw;
  border-radius: 50px;
}
.color_list li:nth-child(2) {
  background-color: #606060;
}
.color_list li:nth-child(3) {
  border: 2px solid #fff;
  background-color: #f5f6f7;
}

/* typo */
.typo_list {
  font-size: 0.875rem;
  display: flex;
}
.typo_list li {
  margin-right: 2vw;
  font-size: 1.25rem;
}
.typo_list li:last-child {
  font-size: 1rem;
}

/*****------- result -------*****/
#result {
  margin-top: 20vw;
  margin-bottom: 12vw;
  width: 100%;
}
#result .result_top {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#result h2 {
  width: 130px;
}
.video_wrap {
  margin-left: 20px;
  padding-top: 20px;
}
.video_wrap video {
  margin: 0 10px;
  border: 5px solid #000;
  border-radius: 30px;
  width: 15vw;
}
.proto_txt {
  width: 45vw;
  margin: 5vw 0 0 auto;
}
.proto_txt ul li {
  padding-bottom: 20px;
}
.proto_txt ul li p {
  font-size: 0.875rem;
  padding-left: 1.458vw;
  padding-top: 0.5vw;
}
.des_container {
  display: flex;
  justify-content: space-between;
}
.des_container ul {
  width: 35vw;
}

/*****------- review -------*****/
#review {
  margin-top: 15vw;
  margin-bottom: 15.625vw;
}
#review h2 {
  width: 150px;
  margin-bottom: 5.208vw;
}
#review_txt {
  width: 45.052vw;
  margin: 0 auto;
}
#review_txt .rv_txt1,
.rv_txt2 {
  padding-bottom: 1.5vw;
}
#review h3 {
  margin-top: 2.604vw;
}
#review p {
  margin-bottom: 1.5vw;
  padding-top: 0.5vw;
  padding-left: 1.458vw;
}

/*****------- view btn -------*****/
.btns {
  display: flex;
  justify-content: space-around;
}
.pdf,
.prototype {
  margin: 0 auto;
  width: 26.042vw;
  padding: 0.521vw;
  background-color: #265d49;
  border-radius: 50px;
  text-align: center;
  margin-top: 10.417vw;
}
#view_pdf,
#view_proto {
  display: block;
  width: 100%;
  font-size: 1.875rem;
  font-weight: bold;
  color: #fff;
}

.pdf:hover,
.prototype:hover {
  background-color: #e39d3d;
}
#view_pdf:hover,
#view_proto:hover {
  color: #265d49;
}

/********** footer ***********/
footer {
  height: 28.646vw;
  background-color: #265d49;
  color: #e39d3d;
  margin-top: 5.208vw;
  position: relative;

  display: flex;
}
/*----------- profil -----------*/
.contact_profil {
  width: 26.042vw;
  position: absolute;
  left: 10%;
  top: 20%;
}
.contact_profil h5 {
  font-size: 4.5rem;
  font-weight: bold;
  width: 41.667vw;
}
.contact_profil h5 span {
  display: block;
  font-size: 4.813rem;
}
/*----------- contact -----------*/
.contact_txt {
  width: 40vw;
  padding-top: 3.333vw;
  padding-left: 0.938vw;
  line-height: 1.9;
  font-size: 1rem;
}
.contact_info {
  position: absolute;
  top: 35%;
  right: 10%;
}
h6 {
  font-size: 3rem;
  text-align: right;
  margin-bottom: 3.646vw;
}
.contact_info p {
  font-size: 1.275rem;
  text-align: right;
}
.email {
  font-weight: bold;
  margin-bottom: 1.823vw;
}
.git a {
  text-decoration: underline;
  color: inherit;
}
