@charset "utf-8";

::-webkit-scrollbar {
  width: 0.7vw;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #c0dbee;
  border: 3px solid #ca3235;
  border-radius: 0.521vw;
}

html {
  font-family: "pretendard", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.6;
  scroll-behavior: smooth;
}
h1,
h2,
h3 {
  font-family: "Mouse Memoirs", sans-serif;
  color: #184797;
}
#gnb {
  font-family: "Teko", sans-serif;
}

/*********** header *********************************/
header {
  position: absolute;
  top: 0;
  z-index: 9999;
}

/****** nav ******/
nav {
  height: 55px;
  line-height: 55px;
}
#navWrap {
  width: 95%;
  display: flex;
  justify-content: space-between;

  border: 3px solid #ca3235;
  border-radius: 50px;
  background-color: #c0dbee;
  margin: 20px auto;

  position: sticky;
  top: 80px;
  left: 50px;
  z-index: 999999;
}
#navWrap.sticky {
  transition: 0.4s;
  transform: translateY(-60px);
}
#navWrap .logo {
  padding: 8px 0 5px 0;
  margin-left: 50px;
}
#navWrap .logo img {
  width: 120px;
}
#navWrap .search {
  margin-right: 75px;
  margin-top: 9px;
  width: 38px;
  height: 38px;
}

/****** gnb ******/
#navWrap #gnb {
  display: flex;
  justify-content: space-around;

  width: 730px;
}
#navWrap #gnb a {
  width: 100%;
  display: block;
  color: #ca3235;
  padding-top: 2px;
  cursor: pointer;
}
#navWrap #gnb a:hover {
  text-decoration: underline;
  text-decoration-style: double;
}

/*********** slide img *********************************/

#slideBanner {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 44vw;
  overflow: hidden;
}
.slideList {
  position: relative;
  width: 300vw;
  height: 44vw;
}
.slideList .slideImg {
  float: left;
  width: 100vw;
  height: 44vw;
}
.slideList .slideImg img {
  display: block;
}
/****** title ******/
h1 {
  font-size: 5.7rem;
  position: absolute;
  bottom: 80px;
  left: 10px;

  text-shadow: -1px 0 #f3f1ed, 0 1px #f3f1ed, 1px 0 #f3f1ed, 0 -1px #f3f1ed;
}

/****** txt slide ******/
#txtSlide {
  width: 100%;
  height: 4vw;
  position: absolute;
  bottom: -44px;
  background-color: #ca3235;
  white-space: nowrap;

  font-size: 36px;
  /* line-height: 58px; */
  color: #f3f1ed;
  font-family: "Mouse Memoirs", sans-serif;
  overflow: hidden;
}
#txtSlide p {
  animation: auto 20s linear infinite;
}
@keyframes auto {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*********** main *********************************/

/****** section 1 = video ******/

#video {
  background-color: #c0dbee;
  border-bottom: 3px solid #184797;
  height: 1500px;
  position: relative;
  top: 655px;
  overflow: hidden;
  /* 이거 아래 이어지는 section들 다 포지션으로 조정해야하는것인가...?ㅜ */
}
#video .v_wave {
  position: absolute;
  top: 0;
  z-index: 999999;
}

#video h2 {
  font-size: 60px;
  margin: 0 auto;
  position: absolute;
  top: 75px;
  left: 25%;
  z-index: 99999;
}
.bg {
  overflow: hidden;
}
.bgMove1 {
  width: 100%;
  height: 822px;

  background: url(../images/illust_cereal2.png) 100% / contain;
  animation: rain 20s infinite linear;
}
.bgMove2 {
  width: 100%;
  height: 822px;
  transform: translateY(-1700px);

  background: url(../images/illust_cereal2.png) 100% / contain;
  animation: rain2 20s 10s infinite linear;
}
@keyframes rain {
  0% {
    opacity: 0;
    transform: translateY(-600px);
  }
  20% {
    opacity: 1;
    transform: translateY(-300px);
  }
  40% {
    opacity: 1;
    transform: translateY(0);
  }
  60% {
    opacity: 0;
    transform: translateY(400px);
  }
  100% {
    opacity: 0;
    transform: translateY(1600px);
  }
}
@keyframes rain2 {
  0% {
    opacity: 0;
    transform: translateY(-1200px);
  }
  20% {
    opacity: 1;
    transform: translateY(-800px);
  }
  40% {
    opacity: 1;
    transform: translateY(-400px);
  }
  60% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(400px);
  }
}
/****** tony img ******/
#video #tony {
  position: absolute;
  left: 38%;
  top: 300px;
}
#video .tony_img {
  width: 25.417vw;
  height: 25.417vw; /*488px*/
  display: block;

  /* margin: 78px auto 55px; */
}
#video p {
  color: #ca3235;
  text-align: center;
  padding-top: 50px;
}
#video p span {
  display: block;
}

/****** video ******/
#video .videoWrap {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 100px;
}
#video #videoSize {
  width: 52.292vw; /*1004px*/
  height: 29.271vw; /*562px*/
  background: url(../kellogg_video.mp4);
  border-radius: 30px;
  margin-left: 50px;

  position: relative;
}
#video .v_cereal1 {
  position: absolute;
  top: -90px;
  left: -40px;
}
#video .v_cereal2 {
  position: absolute;
  bottom: -40px;
  right: -20px;
}

/****** txt ******/
#videoTxt {
  width: 28.646vw; /*550px*/
  height: 8.854vw; /*170px*/
  text-align: center;

  position: absolute;
  right: 150px;
  bottom: 300px;
}
#videoTxt .mini_title {
  font-size: 33px;
  padding-bottom: 35px;
}
#videoTxt p span {
  display: block;
}

/*********** section 2 = recipe ***********/
#recipe {
  height: 62.24vw;
  background-color: #f3f1ed;
  position: relative;
  top: 655px;
  z-index: 9999;
}
#recipe .v_cereal3 {
  position: absolute;
  top: -250px;
  right: 20px;
  transform: rotate(5deg);
  z-index: 9999;
}
#recipe h2 {
  font-size: 60px;
  margin: 0 auto;
  position: absolute;
  top: 75px;
  left: 42%;
}
#recipe > p {
  font-size: 55px;
  font-family: "Mouse Memoirs", sans-serif;
  font-weight: normal;
  color: #184797;
  text-align: center;
  border-top: 3px solid #184797;
  border-bottom: 3px solid #184797;

  padding: 0 24px;
  position: absolute;
  bottom: 0;
}
.recipe_wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 85px;

  position: absolute;
  top: 200px;
  left: 22%;
}

/****** recipe 1 ******/
.recipe_wrap .recipe1 {
  border: 3px solid #184797;
  border-radius: 25px;
  text-align: center;
  color: #184797;
  margin-right: 10px;
}
.recipe_wrap .recipe1 p {
  border-top: 3px solid #184797;
  border-bottom: 3px solid #184797;
  padding: 10px;
}
.recipe_wrap .recipe1 a {
  display: block;
  height: 50px;
  line-height: 50px;
  color: #184797;
  border-radius: 0 0 20px 20px;
}
.recipe_wrap .recipe1 a:hover {
  background-color: #184797;
  color: #fff;
}
/****** recipe 2 ******/
.recipe_wrap .recipe2 {
  border: 3px solid #184797;
  border-radius: 25px;
  text-align: center;
  color: #184797;
  margin-left: 10px;
}
.recipe_wrap .recipe2 p {
  border-top: 3px solid #184797;
  border-bottom: 3px solid #184797;
  padding: 10px;
}
.recipe_wrap .recipe2 a {
  display: block;
  height: 50px;
  line-height: 50px;
  color: #184797;
  border-radius: 0 0 20px 20px;
}
.recipe_wrap .recipe2 a:hover {
  background-color: #184797;
  color: #fff;
}
.recipe_wrap .rcp_bg:hover {
  background-color: #c0dbee;
  border-radius: 20px 20px 0 0;
}

/*********** section 3 = better ***********/
#better {
  height: 1450px;
  background-color: #c0dbee;
  position: relative;
  top: 655px;
  overflow: hidden;
}
.pop_image {
  display: flex;
  justify-content: space-between;
  height: 38.542vw;
  width: 100%;
}
.pop_image img {
  display: block;
  /* width: 40%;
  height: 80%; */
}
.pop_image .pop1 {
  position: absolute;
  left: -150px;
  top: -40px;
}
.pop_image .pop2 {
  position: absolute;
  left: 250px;
  top: 40px;
  z-index: 999;
}
.pop_image .pop3 {
  position: absolute;
  right: 280px;
  top: -30px;
  z-index: 999;
}
.pop_image .pop4 {
  position: absolute;
  right: -100px;
  top: 150px;
}

/****** txt ******/
.pop_txt {
  position: absolute;
  top: 150px;
  left: 22%;

  display: flex;
  justify-content: center;
}
.pop_txt div p {
  font-size: 14px;
  color: #ca3235;
  text-align: center;
}
.pop_txt span {
  display: block;
  font-size: 72px;
  font-family: "Mouse Memoirs", sans-serif;
  color: #ca3235;
  font-weight: normal;
}
.pop_txt .txt1 {
  position: absolute;
  left: 55px;
  top: 150px;
}
.pop_txt .txt2 {
  position: absolute;
  left: 360px;
  top: 70px;
}
.pop_txt .txt3 {
  position: absolute;
  right: 50px;
  top: 160px;
}

/*********** section 3 = banner ***********/
.better_banner {
  width: 95%;
  color: #fff;
  text-align: center;
  position: relative;
  top: 50px;
  left: 0;
  z-index: 999;
  /* padding-bottom: 200px; */
}
.better_banner .bt_title {
  font-size: 72px;
  font-family: "Mouse Memoirs", sans-serif;
  font-weight: normal;
}
.better_banner .bt_txt {
  position: absolute;
  top: 35%;
  left: 35%;
}
.better_banner img {
  width: 100%;
  margin: 80px 35px;
}

/*********** section 4 = shop ***********/

/****** under image ******/
#shop {
  background-color: #f5deb7;
  height: 40vw;
  position: relative;
  top: 655px;
}
#shop > img {
  position: absolute;
  top: -125px;
  z-index: 999;
}
#shop h2 {
  font-size: 60px;
  margin-left: 58px;
  padding-top: 150px;
  margin-bottom: 90px;
}

/****** logo ******/
#shop ul {
  margin-left: 58px;
  display: flex;
}
#shop ul li .box {
  width: 260px;
  height: 160px;
  background-color: #c0dbee;
  border-radius: 25px;
  border: 3px solid #184797;
  margin: 10px;
  box-shadow: #184797 3px 2px 0;
}
#shop ul li .box img {
  display: block;
  width: 50%;
  margin: 40px auto;
  padding-top: 30px;
  transition: 0.4s;
}
#shop ul li .box img:hover {
  transform: scale(1.2);
}
#shop ul li .box .logo1 {
  padding-top: 0;
}
#shop ul li .box .logo3 {
  width: 40%;
  padding-top: 25px;
}
#shop ul li .box .logo4,
#shop ul li .box .logo5 {
  width: 70%;
  padding-top: 20px;
}

/*********** section 5 = sns ***********/
#sns {
  height: 28vw;
  background-color: #c0dbee;
  position: relative;
  top: 655px;
  display: flex;
  justify-content: center;
}
#sns > div {
  padding-top: 100px;
  padding: 100px 30px;
}
#sns div img {
  display: block;
  width: 150px;
  border-radius: 20px;
  border: 3px solid #ca3235;
}
#sns div img:hover {
  background-color: #f3f1ed;
}

/*********** footer ***********/
footer {
  height: 25vw;
  background-color: #ca3235;
  color: #fff;
  padding: 0 100px;
  position: relative;
  top: 655px;
  font-weight: normal;
}
footer > .logo {
  margin-bottom: 50px;
  position: absolute;
  top: 120px;
}

.topUP {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  line-height: 150px;
  background-color: #f3f1ed;
  border-radius: 50%;

  position: absolute;
  top: -100px;
  left: 45%;
}
.topUP img {
  display: block;
  margin: 25px auto;
  animation: upmove 3s infinite;
}
@keyframes upmove {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

.minitony {
  width: 12vw;
  position: absolute;
  top: -210px;
  right: 100px;
}
.footer_txt {
  display: flex;
  justify-content: space-between;
}
.footer_txt .address {
  font-size: 14px;
  position: absolute;
  top: 200px;
}
.footer_txt .address p:first-child {
  margin-bottom: 20px;
}
.footer_txt .myInfo {
  text-align: right;
  position: absolute;
  top: 120px;
  right: 100px;
}
.footer_txt .myInfo a {
  display: block;
  padding-bottom: 50px;
  padding-top: 10px;
  color: #fff;
}
.footer_txt .myInfo .pfBtn {
  width: 250px;
  padding: 10px;
  text-align: center;
  border: 3px solid #fff;
  border-radius: 50px;
}
